# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings
*.komodoproject
.komodotools/

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor
/.vagrant
.bowerrc

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

*.bak
*.log
composer.phar
composer.lock
*.bin
*.settings
*.properties
*.*~

tests/codeception/_output/*